*{
  margin: 0;
  color: brown;
  /* font-weight: 700; */
  font-family: 'Playfair Display', serif;
}

.welcomeUser{
  font-style: oblique;
  margin-left: 15px;
}

.footer{
  font-style: oblique;
  text-align: center;
  color: peachpuff;
  text-shadow: white;
}

nav{
  display: flex;
  justify-content: center;
}

nav button{
  margin: 20px 20px 0;
}

.buttonText{
  text-decoration: none;
}

button {
  text-decoration: none;
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #f18db6;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FFBBCC 0%, #FFDDCC  51%, #FFEECC  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fdb6d9;
  text-decoration: none;
}

button:active {
  transform: scale(0.95);
}

/* body{
  background-repeat: no-repeat;
  height: 100vh;
} */

body::after{
  content: "";
  background: url(./background.png);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

#slideshow {
  /* text-align: center; */
  overflow: hidden;
  height: 400px;
  width: 600px;
  margin: 0 auto;
}

.slide-wrapper {
  width: 3000px;
  animation: slide 18s ease infinite;
}

.slide {
  float: left;
  height: 670px;
  width: 600px;
}

/* .slide:nth-child(1) {
  background: #D93B65;
}

.slide:nth-child(2) {
  background: #037E8C;
}

.slide:nth-child(3) {
  background: #36BF66;
}

.slide:nth-child(4) {
  background: #D9D055;
}

.slide-number {
  color: #000;
  text-align: center;
  font-size: 10em;
} */

.slide-number {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#slide1 {
  background-image: url(./pic1.jpg);
}

#slide2 {
  background-image: url(./pic2.png);
}

#slide3 {
  background-image: url(./pic5.jpg);

}

#slide4 {
  background-image: url(./pic4.jpg);

}
#slide5 {
  background-image: url(./pic3.png);

}



.slide-number img {
  /* align-self: center; */
  height: 40vh;
  width: auto;
  /* margin-left: auto;
  margin-right: auto; */
}

@keyframes slide {
  10% {margin-left: 0px;}
  20% {margin-left: -600px;}
  30% {margin-left: -600px;}
  40% {margin-left: -1200px;}
  50% {margin-left: -1200px;}
  60% {margin-left: -1800px;}
  70% {margin-left: -1800px;}
  80% {margin-left: -2400px;}
  90% {margin-left: -2400px;}
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeTitle{
  text-align: center;
  margin: 50px;
  margin-top: 80px;
}

.homeContainer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.homeContainer h3{
  margin: 20px;
  padding: 20px;
  /* width: 300px; */
}

.home-side-divs {
  width: 15vw;
}

.homeAuthBttns{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

.homeAuthBttns button{
  padding: 15px 25px;
  margin: 20px;
  border-radius: 5px;
}

.authContainer{
  text-align: center;
  margin: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.authForm{
  border: 2px dotted;
  border-radius: 20px;
  margin: 60px;
  padding: 60px;
  line-height: 3;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.authForm button{
  padding: 15px 25px;
  margin: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authBttn{
  margin-left: auto;
  margin-right: auto;
}

.profileContainer{
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileSlideshow{
  /* border: 2px solid; */
  margin: 50px;
  /* padding: 50px; */
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileBttnContainer{
  display: flex;
  justify-content: center;
}

.profileBttnContainer button{
  margin: 20px;
  padding: 40px;
}

.createContainer{
  text-align: center;
  line-height: 2;
  margin-top: 30px;
}

/* .createContainer button{
  display: flex;
  justify-content: center;
  align-items: center;
} */

input{
  border: none;
  border-radius: 7px;
  background-color: #FFDDCC;
}

input[type=text]:focus{
  outline: none;
  border: 3px solid #FFDDCC;
  background-color: white;
  transition: 1s;
}

#description{
  border: none;
  border-radius: 7px;
  background-color: #FFDDCC;
}

#description:focus{
  outline: none;
  border: 3px solid #FFDDCC;
  transition: 1s;
  background-color: white;
}

.updateContainer{
  text-align: center;
  line-height: 2;
}

.detailsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 70px;
  line-height: 2;
}

/* .events-page {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.mapContainer{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.eventsContainer{

  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  /* flex-flow: wrap; */
  columns: 5 auto;

  /* width:100px;
  float: left; */
  /* margin-right: 20px; */
}

.events-content-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.events-button-div {
  width: 100%;
}

.events-button-div button {
  width: 100%;
}

/* .eventsBox {
  display: flex;
  flex-direction: column;
  width: 400px;
  inline-size: 100px;
  overflow-wrap: normal;
  word-wrap: normal;
  margin: 50px;
} */

.data {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  grid-auto-rows: minmax((100px, auto));
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  /* columns: 5 auto */
  
  /* flex: 1; */
  /* flex-flow: wrap; */
}

.memoriamContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -380px;
  margin-top: 50px;
}

.memoriamImg{
  text-align: center;
  margin: 50px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.memoriamImg img{
  border-radius: 10%;
  box-shadow: 0 0 25px 15px #fff;
}

.memoriamText{
  line-height: 1.5;
  width: 400px;
  margin-right: 50px;
  text-align: justify;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */