*{
  margin: 0;
}

/* .logoutBttn{
  float: right;
} */

.homeTitle{
  text-align: center;
  margin: 50px;
}

.homeContainer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.homeContainer h3{
  margin: 20px;
  padding: 20px;
}

.homeAuthBttns{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

.homeAuthBttns button{
  padding: 15px 25px;
  margin: 20px;
  border-radius: 5px;
}

.authContainer{
  text-align: center;
  margin: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.authForm{
  border: 2px dotted;
  border-radius: 20px;
  margin: 60px;
  padding: 60px;
  line-height: 3;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.authForm button{
  padding: 15px 25px;
  margin: 20px;
  border-radius: 5px;
}

.profileContainer{
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileSlideshow{
  border: 2px solid;
  margin: 50px;
  padding: 50px;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileBttnContainer{
  display: flex;
  justify-content: center;
}

.profileBttnContainer button{
  margin: 20px;
  padding: 40px;
}

.createContainer{
  text-align: center;
  line-height: 2;
}

.updateContainer{
  text-align: center;
  line-height: 2;
}

.detailsContainer{
  text-align: center;
  margin: 70px;
  line-height: 2;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */